#header {
    background-color: #000;
    color: #ff0000;
    border-bottom: 1px solid red;
}

.breadcrumbs {
    background-color: #000 !important;
    border-bottom: 1px solid #fff !important;
}

#changelist-filter h2 {
    background-color: #000 !important;
    border-bottom: 1px solid #fff !important;
    text-align: center;
}

.submit-row input {
    background-color: #000;
    transition: all 0.3s;
}

.submit-row input:hover {
    background-color: red;
}

.paginator input.default,
.submit-row .default {
    background-color: red !important;
    transition: all 0.3s;
}

.paginator input.default,
.submit-row .default:hover {
    background-color: #888282 !important;
}

a:link, a:visited {
    color: #fff;
}